.environment{
    background-color:var(--bg);
    min-width: 100px;
    height: 60VH;
    z-index: -5;
    padding: 40px 0;
    position: relative;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.508);
    color: white;
}
@keyframes wavehand {
    0%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(-70deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}
@keyframes handsmove {
    0%{transform:rotate(30deg)}
    50%{transform: rotate(110deg);}
    100%{transform: rotate(30deg);}
}
@keyframes legsmove {
    0%{transform:rotate(60deg);}
    50%{transform: rotate(120deg);}
    100%{transform: rotate(60deg);}
}